body {
    background-color: aliceblue;
}
.input-group {
  padding-top: 30px;
  max-width: 15%;
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}

.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}

.hidden {
  display: none;
}
