.input-group {
  padding-top: 30px;
  width: 250px;
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}

.card {
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}

.hidden {
  display: none;
}

.btn {
  background-color: aliceblue;
}